node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

#vitacora de anotaciones de LuchoMazzetti
vitacoraLuchoM.txt 
# macOS
.DS_Store
*.env


package-lock.json